<%- include('partials/header') %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #044f99 !important; color: white !important; ">
    <a class="navbar-brand" href="/"  style="color: white !important; font-style:bold !important; font-size:160% !important;" >
       Team Glitch
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: white !important">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white !important">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicledetection" style="color: white !important">Vehicle Detection</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white !important">
            Call Us
          </a>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/manual" style="color:white" style="font-size: 110%;" >Manual </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white">Login </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white">Register </a>
        </li>
      </ul>
    </div>
  </nav>

  <div ></div>
  <div class="jumbotron">
    <h1> Traffic Light Optimization</h1>
    <p style="font-size: 20px;">Optimizing Traffic Lights for the Better Time Management and For Faster Traffics</p>
  </div>
  </div>
  <div class="container" style="background-color: rgb(231, 231, 231);">
  <p>
    <h2>PROBLEM TO SOLVE: </h2><br>
     
    In the ever-growing population of our planet earth, there comes the problem of managing the huge population which is becoming difficult to 
    handle as time passes on. One of the most head aching problems of our planet is the problem of handling the traffic of the moving masses 
    from one point to other. With people migrating to bigger cities, the problem of traffic in our world is growing in an indeterministic way
    which needs to be solved or at least try to reduce it. People lose a lot of time waiting for the red light to become green. It is estimated
    that an average person spends over 200 hours stuck in traffic in a year which is unbelievably a massive waste of time.

    <h2>APPROACH TO PROBLEM:  </h2><br>
    We have seen the way of the regular traffic signal systems around the world specially India, where the lights go on and off at regular 
    intervals of time. There are many times the priority for a particular way in a traffic junction increases due to several factors such as
    hospital emergencies, fire emergencies, more traffic on one way as compared to the other etc. which is ignored by the current system of 
    traffic system installed in our country.  <br>
    We have seen the way of the regular traffic signal systems around the world specially India, where the lights go on and off at regular
    intervals of time. There are many times the priority for a particular way in a traffic junction increases due to several factors such as 
    hospital emergencies, fire emergencies, more traffic on one way as compared to the other etc. which is ignored by the current system of 
    traffic system installed in our country.  

    <h2>IMPLEMENTATION:  </h2><br>
    Owing to the mismanagemet of people on the roads, there is delay in time of transportation which directly affects the price of the goods as 
    well comfort of the people. To overcome this problem, we have come across a idea to generate an algorithm to manipulate the traffic lights 
    such that the overall time time for transportation becomes the least. This algorithm will take the ratio of the number of vehicles coming 
    from each direction  as its input. This input will be recorded by using Image recognition.Then accordingly it will change the traffic signal
    dinamicaly according to the vehicle density in each direction. The algorithm will be implemented using Machine learning and web development 
    for interface and manual control option. A special condition will be mentioned for emergency cases such as ambulance, fire brigade and
    so on. 
    <br>
    For emergency cases, there will be an option to register within our Database i.e. website. Lets consider an ambulance for an elaboration. 
    As Ambulance starts its journey, the health worker needs to login at the website and mention the initial and final points. The position of
    the ambulance will be continuously monitored and the traffic lights will be changed accordingly. It will be changed in such a manner that
    it minimizes the time taken by the ambulance to reach the destination along with the convenience of other vehicles.  
  </p>
</div>

<%- include('partials/footer')%>