<%- include('partials/header') %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #044f99 !important; color: white !important; ">
    <a class="navbar-brand" href="/"  style="color: white !important; font-style:bold !important; font-size:160% !important;" >
       Team Glitch
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: white !important">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white !important">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicledetection" style="color: white !important">Vehicle Detection</a>
        </li>
        
 
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
            <li class="nav-item active">
                <a class="nav-link" href="/manual" style="color:white" style="font-size: 110%;" >Manual </a>
              </li>
          <a class="nav-link" href="#" style="color:white">Login </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white">Register </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container"></div>
  <div class="jumbotron">
    <h1> Traffic Light Optimization</h1>
    <!-- <img src="https://img.icons8.com/nolan/64/gallery.png"> -->
    <p style="font-size: 20px;">Optimizing Traffic Lights for the Better Time Management and For Faster Traffics</p>
  </div>
  </div>

  <div class="container">
    <h3>Manual Controller:</h3><br>
    <h4>North:</h4>
    <div style="font-size: 140%;">
         <input type="checkbox" name="" value=""> Red &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Yellow &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Green<br><br>
      </div>
    
      <h4>West:</h4>
      <div style="font-size: 140%;">
           <input type="checkbox" name="" value=""> Red &nbsp;&nbsp;&nbsp;
           <input type="checkbox" name="" value=""> Yellow &nbsp;&nbsp;&nbsp;
           <input type="checkbox" name="" value=""> Green<br><br>
        </div>

        <h4>East:</h4>
        <div style="font-size: 140%;">
         <input type="checkbox" name="" value=""> Red &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Yellow &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Green<br><br>
        </div>

        <h4>West:</h4>
        <div style="font-size: 140%;">
         <input type="checkbox" name="" value=""> Red &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Yellow &nbsp;&nbsp;&nbsp;
         <input type="checkbox" name="" value=""> Green<br><br>
        </div>
  </div>

<%- include('partials/footer')%>