<%- include('partials/header') %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #044f99 !important; color: white !important; ">
    <a class="navbar-brand" href="/"  style="color: white !important; font-style:bold !important; font-size:160% !important;" >
       Team Glitch
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: white !important">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: white !important">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vehicledetection" style="color: white !important">Vehicle Detection</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white !important">
            Call Us
          </a>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="/manual" style="color:white" style="font-size: 110%;" >Manual </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white">Login </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white">Register </a>
        </li>
      </ul>
    </div>
  </nav>

  <div ></div>
  <div class="jumbotron">
    <h1> Traffic Light Optimization</h1>
    <p style="font-size: 20px;">This is the prototype of vehicle detection Python file</p>
  </div>
  </div>
  

  <div class="container">
      <h2>Demonstration of How the Vehivle Detection Algorithm Works</h2>
    <div class="row" style="padding-top:40px !important;">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="1.jpg" id="btn1" class="img-thumbnail" height="200px" width="300px">
          <div class="caption" style="text-align: center">
            <h4><button onclick="Compile1()"> Run </button></h4>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="2.jpg" id="btn2" class="img-thumbnail" height="200px" width="300px">
          <div class="caption" style="text-align: center">
            <h4><button onclick="Compile2()"> Run </button></h4>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img src="3.jpg" id="btn3" class="img-thumbnail" height="200px" width="300px">
          <div class="caption" style="text-align: center">
            <h4><button onclick="Compile3()"> Run </button></h4>
          </div>
      </div>

      </div>
    </div>
    <div class="container">
      <iframe width="760" height="485" src="https://www.youtube.com/embed/XdgW7SBOnbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding-top:40px !important; align-content: center !important;"></iframe>
    </div>
 
  
  

<%- include('partials/footer')%>